
/* Style paragraph */
.reveal {
    font-size: 26px;
    margin-top: 0.2em;
}

/* (Optional) avoid overlap with content at the bottom */
.reveal .slides { padding-bottom: 56px; }

/* Style all level-2 headings (##) */
.reveal .slides section h2 {
    font-size: 40px;
    margin-top: 0.2em;
}

/* Style all level-3 headings (###) */
.reveal .slides section h3 {
  color:black;
  font-size: 38px;
  margin-top: 0.2em;
}

.reveal section .legend,
.reveal .slides section .legend {
  color: rgb(183, 184, 187);
  font-style: italic;
  font-size: 14px;
  margin-top: 0.2em;
}

